<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titolo}}</title>

</head>
<body>
    {{> header }}

    <h1>Ciao {{nome}}</h1>
    <h2>Il titolo è: {{titolo}}</h2>

    <p>Il mio animale preferito è il <span><b>{{ pet }}</b></span></p>
    <p>Il mio colore preferito é {{color}}</p>
    <p>La mia stagione preferita é {{season}}</p>

    {{> footer }}
</body>
</html>